#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
    margin: 0 auto;
}

.skilltitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.3rem;
}

.skilldesc{
 font-weight: 400;
 font-size: 1.3rem;
 max-width: 53rem;
 padding: 0.2rem;

}
.skillbar{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}

.skillbarimg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;

}

.skillbartext{
    font-size: 1.2rem;
    font-weight: 200;
}

@media screen and (max-width:700px) {
    .skillbartext>p{
        font-size: 2.2vw;
    }
    
}

@media screen and (max-width:480px) {
    .skillbartext>p{
        font-size: 3.2vw;
    }
    .skillbarimg{
        height: 2.45rem;
        width: 2.45rem;

    }
    .skillbartext{
        font-size: 5.2vw;
    }
}